.section-title h4, .section-title h5 {
    color: #ffffff !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    text-transform: uppercase !important;
    padding-left: 20px !important;
    position: relative !important;
    font-family: "Oswald", sans-serif !important;
}
.section-title h4:after, .section-title h5:after {
    position: absolute;
    left: 0;
    top: -6px;
    height: 32px;
    width: 4px;
    background: #ffc107;
    content: "";
}